body {
  background-color: #faf8ef;
}

.logo {
  font-size: 5rem;
}

#defeat-modal {  
  font-size: 5rem;
  color: #c76060;      
  text-align: center;    
  font-weight: bolder;
  margin-top: 1rem;
}

.inActive {
  display: none;
}

.active {
  display: block;
}

.cell {
  display: table-cell;
  width: 120px;
  height: 115px;
  vertical-align: middle;
  border: 12px solid #bbada0;
  text-align: center;
  color: #776e65;
  font-size: 4em;
  font-weight: 600;
}
.appear-2 {
  transition: opacity 2s ease-in;
  background: #f9f7f3;
  /*animation: appear 200ms ease 100ms;*/
}

.appear-4 {
  background: #ede0c8;
}

.appear-8 {
  color: #f9f6f2;
  background: #f2b179;
}

.appear-16 {
  color: #f9f6f2;
  background: #f59563;
}

.appear-32 {
  color: #f9f6f2;
  background: #f67c5f;
}

.appear-64 {
  color: #f9f6f2;
  background: #f65e3b;
}

.appear-128 {
  color: #f9f6f2;
  background: #edcf72;
  font-size: 60px;
}

.appear-256 {
  color: #f9f6f2;
  background: #edcc61;
  font-size: 60px;
}

.appear-512 {
  color: #f9f6f2;
  background: #f65e3b;
  font-size: 60px;
}

.appear-1024 {
  color: #f9f6f2;
  background: #f2b179;
  font-size: 60px;
}

.appear-2048 {
  color: #f9f6f2;
  background: #f27e79;
  font-size: 60px;
}
